Flask==1.0
Flask-Restless==0.17.0
Flask-SQLAlchemy==2.0
Jinja2==2.7.3
MarkupSafe==0.23
SQLAlchemy==0.9.9
Werkzeug==2.2.3
itsdangerous==0.24
mimerender==0.5.5
python-dateutil==2.4.1
python-mimeparse==0.1.4
six==1.9.0
wsgiref==0.1.2
